!!!
.container
  .row
    .box
      .col-lg-12
        %hr
          %h2.intro-text.text-center
            O
            %strong Rowerlover
          %hr
      .col-md-3
        %img.img-responsive.img-border-left.img-about{:alt => "", :src => "images/logo1.jpg"}
      .col-md-9
        %p Rowerlover to wrocławski projekt powstały z miłości i pasji do jednośladów. Chcielibyśmy,aby nasze rowery cieszyły na co dzień a nie tylko podczas niedzielnej przejażdżki. Jako pasjonaci dwóch kółek wielokrotnie nie potrafiliśmy przejść obojętnie obok wielu zapomnianych klasyków. Wiedząc,że rowery te budowane były na lata a ich styl i klasyczna linia są ponadczasowe podejmujemy się zadania przekształcenia zaniedbanej poczwarki w pięknego motyla– ze świetnymi rezultatami,nierzadko w jedynym i niepowtarzalnym egzemplarzu! W naszej ofercie znajdziecie Państwo dystyngowane miejskie rowery holenderskie,fantazyjne cruisery oraz szybko i dzielnie pokonujące zatłoczone miasta rowery szosowe oraz ostre koła. Zapraszamy!
      .clearfix
  .row
    .box
      .col-lg-12
        %hr
          %h2.intro-text.text-center
            Our
            %strong Team
          %hr
      .col-sm-4.text-center
        %img.img-responsive{:alt => "", :src => "http://placehold.it/750x450"}
          %h3
            John Smith
            %small Job Title
      .col-sm-4.text-center
        %img.img-responsive{:alt => "", :src => "http://placehold.it/750x450"}
          %h3
            John Smith
            %small Job Title
      .col-sm-4.text-center
        %img.img-responsive{:alt => "", :src => "http://placehold.it/750x450"}
          %h3
            John Smith
            %small Job Title
      .clearfix
/ /.container
%footer
  .container
    .row
      .col-lg-12.text-center
        %p Copyright &copy; Your Website 2014
/ jQuery
%script{:src => "js/jquery.js"}
/ Bootstrap Core JavaScript
%script{:src => "js/bootstrap.min.js"}