!!!
.container
  .row
    .box
      .col-lg-12
        %hr
          %h2.intro-text.text-center
            Contact
            %strong business casual
          %hr
      .col-md-8
        / Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it!
        %iframe{:frameborder => "0", :height => "400", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed", :width => "100%"}
      .col-md-4
        %p
          Phone:
          %strong 123.456.7890
        %p
          Email:
          %strong
            %a{:href => "mailto:name@example.com"} name@example.com
        %p
          Address:
          %strong
            3481 Melrose Place
            %br Beverly Hills, CA 90210
      .clearfix
  .row
    .box
      .col-lg-12
        %hr
          %h2.intro-text.text-center
            Contact
            %strong form
          %hr
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, vitae, distinctio, possimus repudiandae cupiditate ipsum excepturi dicta neque eaque voluptates tempora veniam esse earum sapiente optio deleniti consequuntur eos voluptatem.
            %form{:role => "form"}
              .row
                .form-group.col-lg-4
                  %label Name
                  %input.form-control{:type => "text"}
                .form-group.col-lg-4
                  %label Email Address
                  %input.form-control{:type => "email"}
                .form-group.col-lg-4
                  %label Phone Number
                  %input.form-control{:type => "tel"}
                .clearfix
                .form-group.col-lg-12
                  %label Message
                  %textarea.form-control{:rows => "6"}
                .form-group.col-lg-12
                  %input{:name => "save", :type => "hidden", :value => "contact"}
                    %button.btn.btn-default{:type => "submit"} Submit
/ /.container
%footer
  .container
    .row
      .col-lg-12.text-center
        %p Copyright &copy; Your Website 2014
/ jQuery
%script{:src => "js/jquery.js"}
/ Bootstrap Core JavaScript
%script{:src => "js/bootstrap.min.js"}